[Desktop Entry]
Exec=projekt7
Type=Application
Icon=projekt7
Terminal=false
Name=Projekt7
Version=0.9.9
GenericName=Music Player
Comment=Phonon based music player
Categories=AudioVideo;Player;
