<?xml version="1.0" encoding="UTF-8"?>
<gui name="Projekt 7"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
    <Menu name="file">
      <text>&amp;File</text>
      <Action name="files" />
      <Action name="directory" />
    </Menu>
    <Menu name="playback">
      <text>&amp;Playback</text>
      <Action name="previous" />
      <Action name="pause" />
      <Action name="play" />
      <Action name="next" />
      <Separator />
      <Action name="queue" />
      <Action name="shuffle" />
    </Menu>
    <Menu name="view">
      <text>&amp;View</text>
      <Action name="current_track" />
      <Action name="track_details" />
      <Action name="track_queue" />
      <Action name="playlist" />
    </Menu>
  </MenuBar>
</gui>
